/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */

 h1 {
     padding-left: 15px;
     padding-top: 15px;
     padding-bottom: 15px;
 }


#main-header{
  font-family: fantasy;
  font-weight: bolder;
  color: #7D1935;
  margin-top: 15px;
  width: 100%;
  height: 65px;

}

.site-title{
  /*Located inside main window*/

  background-color: #e3e0cf;
  font-family: fantasy;
  font-weight: bolder;
  color: #7D1935;
  margin: auto;


}

.tagline{
    /*Located inside main window*/
  font-family: fantasy;
  font-weight: lighter;
  color: #7D1935;
  background-color: #e3e0cf;
  margin: 0;
  margin-bottom: 0;

}

/* Main Window */
#main-content{
  width: 80%;
  height: 100%;
  float: right;

  background-color: #9fa8a3



}

#copyrights{
  /* located to the right of the window*/

  color: #7D1935;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border-style: double;
  border-width:thin;
  border-color: blue;
  border-radius: 5px;

  height: 15px;
  clear: both;
  text-align: center;





}

.container{
  /* Devides main window to Header logo, content window and side bar*/
  height: 100%;
  width: 100%;



  /*background-color: #e3e0cf;*/


}

.main-body-logo{
  /*Located inside content window*/
  width: 70%;
  background-color: #e3e0cf;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-style: double;
    border-width:thin;
    border-color: red;
    border-radius: 5px;


}

.blog-posts{
  /*Located inside content window*/

}

.main-footer{
  /* located at the bottom of the content  window */
  align-content: center;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;


}

.first-post{
  margin-left: 20px;
  margin-right: 20px;
  background: green;
  width: 30%;
  height: auto;
  float: left;
  clear: right;
  background-color: #e3e0cf;
  line-height: 1.2;
  color: #7D1935;
  font-family: fantasy;
  letter-spacing: 1.3;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border-style: double;
  border-width:thin;
  border-color: red;
  border-radius: 5px;
}


.second-post{
    background: red;
     width: 30%;
    height: auto;
    float: left;
    clear: right;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #e3e0cf;
    line-height: 1.2;
    color: #7D1935;
    font-family: fantasy;
    letter-spacing: 1.3;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-style: double;
    border-width:thin;
    border-color: red;
    border-radius: 5px;
}

.third-post{
background: gray;
width: 30%;
height: auto;
float: left;
margin-left: 20px;
margin-right: 20px;
background-color: #e3e0cf;
line-height: 1.2;
color: #7D1935;
font-family: fantasy;
letter-spacing: 1.3;
margin: 10px 10px 10px 10px;
padding: 10px 10px 10px 10px;
border-style: double;
border-width:thin;
border-color: red;
border-radius: 5px;

}

/* Side Bar*/
.side-bar{
  /* located to the right of the window*/
  float: left;
  clear: right;
width: 20%;
height: auto;
background-color: #c5d5cb;
line-height: 1.2;
color: #7D1935;
font-family: fantasy;
letter-spacing: 1.3;
}

.ad-window{
/* located in side side bar */
width: 200px;

margin: 10px 10px 10px 10px;
padding: 10px 10px 10px 10px;
border-style: double;
border-width:thin;
border-color: red;
border-radius: 5px;
}
